/* este es mi hoja de estilo, box model 
main {
padding: 8rem 1rem;
border: 10px rgb(4, 33, 44);
margin: 3rem rgb(237, 237, 243);
border-radius: 2rem;
}
img 
{
    object-fit: cover;
    width: 100;
} */

/* 
.parrafo {
line-height: 1.5;
color: red;
font-family: 'Lucida sans', 'Lucida sans regular', 'Lucida grande', 'Lucida Sans Uncode', 'Geneva', 'Verdana', sans-serif;

}
*/

@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/*css grid*/
body {
background-color: rgb(182, 202, 214);
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 1rem;
}
header {

background-color: rgb(117, 145, 172);
grid-column-start: 1;
grid-column-end: 4;
}
main {
grid-column-start: 1;
grid-column-end: 3;
padding: 1 rem;
}
footer {
background-color: rgb(134, 160, 185);
padding: 2 rem;
grid-column-start: 1;
grid-column-end: 4;
}
img{
    object-fit: cover;
    width: 100;
}
#logo {
    width: 120px;
}

h1{
    /*.playfair-display*/
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
      }
    
p{
   /* .gowun-batang-regular */
        font-family: "Gowun Batang", serif;
        font-weight: 400;
        font-style: normal;
      
}

h2{
    /*.playfair-display-subs*/
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      
}

.gowun-batang-regular{
        font-family: "Gowun Batang", serif;
        font-weight: 400;
        font-style: normal;
}

/* Estilos navegacion */
nav {
    display: flex;
    justify-content: space-between;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 1rem 1rem;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;

}
header a {
    text-decoration: none;
    color: rgb(210, 205, 255);
    transition: all .3s ease 0s;
}
header a:hover {
    color: rgba(138, 162, 189, 0.829);
}
figcaption {
    font-family: "Bona Nova SC", serif;
    font-weight: 200;
    font-size: 1rem;
    padding-bottom: 1rem;
}
pre, cite {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    line-height: 2;
}