@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Quicksand:wght@300..700&display=swap');

/* estilos tipográficos*/

.p{
  color: aliceblue;
}

.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(224, 0, 19);
}

  .eb-garamond  {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    color: rgb(218, 10, 10);
  }

  .quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /*columnas*/
.columnas {
    columns: 4 400px;
}


header {
  background-color: rgb(151, 0, 0);
}
img{
    width: 100%;
    object-fit: cover;
}
.clip-me{
    clip-path: polygon(18% 19%, 81% 18%, 100% 50%, 100% 80%, 0 82%, 0% 50%);
}

.clip-otro{
    width: 100%;
    float: left;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    shape-outside: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);;
}
  
footer{
  background-color: rgb(151, 0, 0);
}